form {
    display: flex;
    flex-direction: column;
    width: 200px;
}

textarea {
    min-width: 200px;
    max-width: 200px;
    margin-bottom: 1rem;
}

input {
    border-radius: 1rem;
    margin-bottom: 1rem;
}

input:focus, textarea:focus {

    outline: 1px solid red;
}

button:hover {
    cursor: pointer;
}

button:active {
    outline: 1px solid red;
}